* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "open sans", sans-serif;
}


nav {
	padding: 3px;
	position: sticky;
	top: 0;
	background-color: white;
	padding-right: 100px;
}


/*nav section*/
nav .nav-logo {
	position: absolute;
	left: 10%;
	top: 10px;
	list-style-type: none;
}

.right-nav{
	text-align: right;
	list-style-type: none;
}

nav>ul>div>li {
	display: inline-block;
	padding: 0.8rem;
	vertical-align: top;
	text-align: left;


}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	border-color: #c2195b;
	font-weight: 200;
	font-size: 13.5px;
	padding: 7.5px;
	border-radius: 25px;
	top: 1px;
}

.apply-button {
	margin-top: 20px;
	margin-right: 120px;
	background-color: #c2195b;
	color: white;
	border-color: #c2195b;
	font-weight: 300;
	font-size: 18px;
	padding-left: 50px;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	border-radius: 25px;
	float: right;

}

.title {
	padding-right: 5rem;
	padding-left: 50rem;
	padding-bottom: 3rem;
	vertical-align: top;
	text-align: right;
	color: white;
	font-family: "zilla slab",monospace;
	font-size: 50px;
}

.subtitle {
	padding-right: 5rem;
	padding-left: 56rem;
	font-weight: normal;
	vertical-align: top;
	text-align: right;
	color: white;
	font-size: 28px;
}

.title-2 {
	padding: 0.8rem;
	vertical-align: top;
	text-align: center;
	color: black;
	font-family: "zilla slab",monospace;
	font-size: 38px;
	margin-top: 80px;
	margin-bottom: 20px;
}


/*landing page*/
#bg-image{
	min-height: 30rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100;
	background-position: center;
	background-attachment: scroll;
}

#bg-image .front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 30rem;
}

.intro-description {
	padding-left: 17%;
	padding-right: 17%;
	padding-top: 3rem;
	padding-bottom: 5rem;
	text-align: justify;
	min-height: 10rem;
}
.pre-footer {
	background-color: #f7fbfb;
	min-height: 20rem;
	margin-top: 20px;
	text-align: center;
}

.prefooter-description {
	padding-left: 18%;
	padding-right: 18%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	margin-top: 50px;
}

.book-button {
	background-color: #336589;
	color: white;
	font-weight: 300;
	font-size: 18px;
	border-radius: 25px;
	text-align: center;
	padding-left: 45px;
	padding-top: 10px;
	padding-right: 45px;
	padding-bottom: 10px;	
}

footer {
	text-align: center;
	margin: 20px;
}